@import "./prism.css";

.root {
  background-color: lightgoldenrodyellow;
  border: 1px aqua dotted;
  padding: 10px;
}

.root div {
  margin: 10px;
  padding: 5px;
  background-color: lightyellow;
}

.root code {
  display: block;
  white-space: pre-wrap  ;
}

.root .remark {
  color: darkolivegreen;
  font-style: italic;
  font-size: 1em;
}